@import url('https://fonts.googleapis.com/css2?family=Asap:wght@500&family=Montserrat&display=swap');

* {
  margin: 0;
  padding: 0;
  font-size: 100%;
  box-sizing: border-box;
  font: inherit;
  max-width: 100%;
}

html {
  height: 100%;
}

body {
  font-size: 62.5%;
  background-image: url('./images/pattern-1899175_1920.jpg');
  overflow: visible;
  display: flex;
  justify-content: center;
  align-items: center;
}

main {
  padding: 0 1% 1%;
  background-color: white;
}

section {
  margin: 0.75%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 1.5%;
  text-align: center;
}

h5 {
  font-family: 'Montserrat', sans-serif;
  letter-spacing: -0.5px;
  line-height: 1.4;
}

.app {
  background-color: white;
  width: 800px;
  padding: 5px 8px 8px 8px;
  margin-top: 5vh;
  box-shadow: 5px 5px 10px black;
  border: 2px solid ghostwhite;
}

header {
  margin: 0 auto;
}

header .nav {
  display: flex;
  width: 100%;
  justify-content: space-around;
  margin: 1.5% 0 1%;
}

header .nav .blue-nav {
  background-color: #2e66b2;
  border: 3px solid #a7ccff;
  border-radius: 15px;
  padding: 0.5% 2%;
  width: 20%;
  font-family: 'Montserrat', sans-serif;
  text-decoration: none;
  color: white;
  text-align: center;
  font-size: 0.9rem;
}

header .nav .purple-nav {
  background-color: #7f479d;
  border: 3px solid #d6b3e4;
  border-radius: 15px;
  padding: 0.5% 2%;
  width: 20%;
  font-family: 'Montserrat', sans-serif;
  text-decoration: none;
  color: white;
  text-align: center;
  font-size: 0.9rem;
}

@media (max-width: 500px) {
  header .nav {
    flex-direction: column;
    align-items: center;
  }

  header .nav a {
    width: 95%;
    margin: 0.5%;
    padding: 1% 0;
  }
}

@media (max-height: 700px) {
  body {
    height: auto;
  }
}

@media (max-width: 800px) {
  .row-two {
    flex-direction: column;
  }

  .row-two .intro {
    width: 100%;
  }

  .row-two .work-history {
    width: 100%;
  }

  .row-three {
    flex-direction: column;
  }

  .row-three .contact-info {
    width: 100%;
  }

  .row-three .skills {
    width: 100%;
    order: -1;
  }
}

.row-one {
  display: flex;
  width: 100%;
}

.row-one h1 {
  text-transform: lowercase;
  color: #7f479d;
  font-weight: bold;
  font-size: 4rem;
  font-family: 'Asap', sans-serif;
  letter-spacing: 1.5px;
}

.row-one h3 {
  color: white;
  font-size: 1.5rem;
  text-transform: uppercase;
  font-weight: bold;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 2px;
}

.row-one .name {
  background-color: #d6b3e4;
  width: 65%;
  flex-direction: column;
}

.row-one .portrait {
  background-color: #a7ccff;
  width: 35%;
}

.row-one .portrait img {
  border-radius: 50%;
  width: 200px;
}

.row-two {
  display: flex;
  width: 100%;
}

.row-two .intro h2 {
  font-family: 'Asap', sans-serif;
  color: #2e66b2;
  font-size: 2rem;
  text-transform: lowercase;
  padding: 1.5% 0;
}

.row-two .intro {
  background-color: #a7ccff;
  width: 50%;
}

.row-two .intro p {
  font-family: 'Montserrat', sans-serif;
  padding: 2%;
  line-height: 1.2;
  font-size: 0.9rem;
}

.row-two .work-history {
  background-color: #d6b3e4;
  width: 50%;
}

.row-two .work-history h2 {
  font-family: 'Asap', sans-serif;
  color: #7f479d;
  font-size: 2rem;
  text-transform: lowercase;
  padding: 1.5% 0;
}

.row-two .work-history .job {
  padding: 2%;
}

.row-two .work-history .job h5 {
  color: #7f479d;
  font-family: 'Asap', sans-serif;
  font-size: 1rem;
  padding: 2px 0 4px;
}

.row-two .work-history .job h4 {
  color: white;
  font-family: 'Asap', sans-serif;
  font-size: 1.3rem;
  text-transform: lowercase;
}

.row-two .work-history .job p {
  font-size: 0.9rem;
  font-family: 'Montserrat', sans-serif;
}

.row-three {
  display: flex;
  width: 100%;
}

.row-three .contact-info {
  background-color: #d6b3e4;
  width: 35%;
}

.row-three .contact-info h2 {
  font-family: 'Asap', sans-serif;
  color: #7f479d;
  font-size: 2rem;
  text-transform: lowercase;
  padding: 1.5% 0;
}

.row-three .skills {
  background-color: #a7ccff;
  width: 65%;
}

.row-three .skills h2 {
  font-family: 'Asap', sans-serif;
  color: #2e66b2;
  font-size: 2rem;
  text-transform: lowercase;
  padding: 1.5% 0;
}

ul {
  list-style: none;
  font-size: 0.9rem;
  font-family: 'Montserrat', sans-serif;
}

ul li {
  line-height: 1.4;
}

.project-desc {
  background-color: #a7ccff;
  width: 65%;
}

.project-desc h2 {
  font-family: 'Asap', sans-serif;
  color: #2e66b2;
  font-size: 2rem;
  text-transform: lowercase;
  padding: 1.5% 0 0;
  text-decoration: none;
}

.project-links {
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
  padding: 0 3px;
}

.project-links a {
  color: black;
  text-decoration: none;
}

.project-desc h3 {
  color: white;
  font-family: 'Asap', sans-serif;
  font-size: 1.3rem;
  text-transform: lowercase;
  padding: 7px 0 0;
}

.project-pic {
  background-color: #d6b3e4;
  width: 35%;
  padding: 0;
}
